.specialTitle {
  font-family: Cinzel Decorative;
  font-size: 46px;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
  margin-bottom: 10px;
}

.categorySlug {
  position: relative;
  margin-left: 50px;
}

.categorySlug > a {
  font-size: 15px;
  transition: all 0.35s;
  color: #210535 !important;
  text-transform: capitalize;
}
.categorySlug > a:hover {
  color: #d38d45 !important;
}

.categorySlug::before {
  position: absolute;
  content: '';
  top: 50%;
  right: 100%;
  height: 2px;
  width: 40px;
  margin-right: 10px;
  margin-top: -1px;
  background-color: #210535;
}

.bookPrice {
  font-family: Cinzel Decorative;
}

.bookPriceIcon {
  font-family: Cinzel Decorative;
  color: #d38d45;
}

.bookDescription {
  line-height: 1.82em;
}

.viewBook {
  font-family: Gentium Basic;
  font-size: 17px;
  /* padding: 15px 35px; */
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  /* width: 200px; */
  height: 60px;
  margin-right: 15px;
}

.viewBook:hover {
  background-color: #210535;
  color: #fff;
}
