.specialHeading {
  font-family: Cinzel Decorative;
  font-size: 46px;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
  margin-bottom: 10px;
}

.specialHeading::first-letter {
  font-size: 100px;
  color: #210535;
  padding: 0 30px;
  margin-right: -30px;
}

.profileLabel {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 17px;
  letter-spacing: 2px;
  color: #111;
  font-family: Gentium Basic;
  font-style: normal;
}

.btnSubmit {
  background: #210535;
  color: #fff;
  font-family: Cinzel Decorative;
  padding: 15px 34px;
  border: 1px solid #111;
}

.btnSubmit:hover {
  background: #111;
  color: #fff;
}
