.specialHeadingCart {
  font-family: Cinzel Decorative;
  font-size: 46px;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
  margin-bottom: 10px;
}

.specialHeadingCart::first-letter {
  font-size: 100px;
  color: #210535;
  padding: 0 30px 0 0;
  margin-right: -30px;
}

.cartListItem,
.cartListHeader {
  border-bottom: 2px solid;
  border-top: 2px solid;
  margin: 5px;
  justify-content: center;
  padding: 20px 0;
}

.cartListItem {
  border-bottom: 1px solid #bbb;
  border-top: 0;
  margin: 0;
  font-size: 20px;
}

.cartTotalHeader::before {
  position: absolute;
  content: '';
  top: 20px;
  left: 0;
  right: 0;
  opacity: 0.6;
  height: 30px;
  background-color: #ddd;
  background-image: radial-gradient(
      circle at 100% 150%,
      #ddd 24%,
      white 25%,
      white 28%,
      #ddd 29%,
      #ddd 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      #ddd 24%,
      white 25%,
      white 28%,
      #ddd 29%,
      #ddd 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      white 10%,
      #ddd 11%,
      #ddd 23%,
      white 24%,
      white 30%,
      #ddd 31%,
      #ddd 43%,
      white 44%,
      white 50%,
      #ddd 51%,
      #ddd 63%,
      white 64%,
      white 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      white 5%,
      #ddd 6%,
      #ddd 15%,
      white 16%,
      white 20%,
      #ddd 21%,
      #ddd 30%,
      white 31%,
      white 35%,
      #ddd 36%,
      #ddd 45%,
      white 46%,
      white 49%,
      transparent 50%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      white 5%,
      #ddd 6%,
      #ddd 15%,
      white 16%,
      white 20%,
      #ddd 21%,
      #ddd 30%,
      white 31%,
      white 35%,
      #ddd 36%,
      #ddd 45%,
      white 46%,
      white 49%,
      transparent 50%,
      transparent
    );
  background-size: 50px 25px;
}
.cartTotalTitle {
  font-size: 34px;
  position: relative;
  display: inline-block;
  padding: 0 40px;
  margin-bottom: 0;
  z-index: 10;
  font-family: Gentium Basic;
  font-style: normal;
  color: #222;
  font-weight: 700;
  line-height: 1.4;
}
