.specialHeading {
  font-family: Cinzel Decorative;
  font-size: 46px;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
  margin-bottom: 10px;
}

.specialHeading::first-letter {
  font-size: 100px;
  color: #210535;
  padding: 0 30px;
  margin-right: -30px;
  border: 1px solid #210535;
}

.specialSubtitle {
  border-bottom: 3px dotted #210535;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 10px;
  display: inline-block;
  padding: 4px 0;
}

.textContainer {
  padding: 24px 0;
}

.textLanding {
  line-height: 1.82em;
  font-size: 16px;
}

.parallaxBanner {
  position: relative;
  background-position: left 50% top 84.66%;
  background-size: cover;
  background-position: center;
  padding: 120px 90px 100px 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.parallaxHeading {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}

.parallaxSubTitle {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-bottom: 3px dotted #210535;
  color: #ddd;
}

.gotoShopButton {
  font-family: Gentium Basic;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  transition: 0.1s;
  padding: 15px 35px;
  border-radius: 2px;
  outline: none;
  border: 1px solid;
  background: #210535;
  border: 1px solid #210535;
  max-width: max-content;
  color: white;
}

.gotoShopButton:hover {
  background-color: transparent;
}

.templateContainer,
.templateName,
.templateDescription {
  display: flex;
  justify-content: center;
  align-items: center;
}

.templateContainer {
  flex-direction: column;
  height: 100%;
}

.templateName {
  font-family: Cinzel Decorative;
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #222;
}

.templateDescription {
  padding: 40px 50px;
  font-size: 16px;
  line-height: 1.66em;
  text-align: center;
}

.viewBookTemplate {
  font-family: Gentium Basic;
  font-size: 17px;
  padding: 10px 30px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid;
  background-color: white;
  outline: none;
  margin: 0 15px;
}

.viewBookTemplate:hover {
  background-color: #210535;
  color: #fff;
}
