.specialHeadingLogin {
  font-family: Cinzel Decorative;
  font-size: 46px;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
  margin-bottom: 10px;
}

.specialHeadingLogin::first-letter {
  font-size: 100px;
  color: #210535;
  padding: 0 30px;
  margin-right: -30px;
}

.loginLabel {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 17px;
  letter-spacing: 2px;
  color: #111;
  max-width: 85%;
  font-family: Gentium Basic;
  font-style: normal;
}

.loginRequired {
  color: red;
}

.loginButton {
  margin: 15px 0;
  font-family: Gentium Basic;
  font-style: normal;
  position: relative;
  height: auto;
  display: flex;
  cursor: pointer;
  color: #000;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  transition: 0.1s;
  border: 1px solid #232323;
  padding: 15px 35px !important;
}

.loginButton:hover {
  background-color: #210535;
  color: white;
}

.returningCustomer {
  border-top: 3px solid #d38d45;
  padding: 1em 2em 1em 3.5em;
  margin: 0 0 2em;
  position: relative;
  background-color: #f7f6f7;
  color: #515151;

  list-style: none outside;
  width: auto;
  word-wrap: break-word;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.82em;
  letter-spacing: 0em;
  font-variant-ligatures: no-common-ligatures;
}

.returningCustomer::before {
  font-family: WooCommerce;
  content: '';
  display: inline-block;
  position: absolute;
  top: 1em;
  left: 1.5em;
}

.returningCustomerLink {
  color: var(--primary) !important;
}

.cartTotalHeader::before {
  position: absolute;
  content: '';
  top: 20px;
  left: 0;
  right: 0;
  opacity: 0.6;
  height: 30px;
  background-color: #ddd;
  background-image: radial-gradient(
      circle at 100% 150%,
      #ddd 24%,
      white 25%,
      white 28%,
      #ddd 29%,
      #ddd 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      #ddd 24%,
      white 25%,
      white 28%,
      #ddd 29%,
      #ddd 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      white 10%,
      #ddd 11%,
      #ddd 23%,
      white 24%,
      white 30%,
      #ddd 31%,
      #ddd 43%,
      white 44%,
      white 50%,
      #ddd 51%,
      #ddd 63%,
      white 64%,
      white 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      white 5%,
      #ddd 6%,
      #ddd 15%,
      white 16%,
      white 20%,
      #ddd 21%,
      #ddd 30%,
      white 31%,
      white 35%,
      #ddd 36%,
      #ddd 45%,
      white 46%,
      white 49%,
      transparent 50%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      white 5%,
      #ddd 6%,
      #ddd 15%,
      white 16%,
      white 20%,
      #ddd 21%,
      #ddd 30%,
      white 31%,
      white 35%,
      #ddd 36%,
      #ddd 45%,
      white 46%,
      white 49%,
      transparent 50%,
      transparent
    );
  background-size: 50px 25px;
}
.cartTotalTitle {
  font-size: 34px;
  position: relative;
  display: inline-block;
  padding: 0 40px;
  margin-bottom: 0;
  z-index: 10;
  font-family: Gentium Basic;
  font-style: normal;
  color: #222;
  font-weight: 700;
  line-height: 1.4;
}

.viewBook {
  font-family: Gentium Basic;
  font-size: 17px;
  /* padding: 15px 35px; */
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  /* width: 200px; */
  height: 60px;
  margin-right: 15px;
}

.viewBook:hover {
  background-color: #210535;
  color: #fff;
}
