.breadcrumbStyle {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 60px;
}

.breadcrumbDisable {
  color: gray;
}

.categorySlug {
  position: relative;
  margin-left: 50px;
  display: inline-block;
  border-bottom: 2px dotted #210535;
}
.categorySlug > a {
  font-size: 15px;
  transition: all 0.35s;
  text-transform: capitalize;
  font-weight: 400;
}
.categorySlug > a:hover {
  color: #d38d45 !important;
}

.category {
  position: relative;
  margin-left: 50px;
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: 700;
  transition: all 0.35s;
  text-transform: capitalize;
  font-family: Cinzel Decorative;
}

.category::before {
  position: absolute;
  content: '';
  top: 50%;
  right: 100%;
  height: 2px;
  width: 40px;
  margin-right: 10px;
  margin-top: -1px;
  background-color: #210535;
}

.newsletter {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 20px;
}

.subcribeButton {
  background: #210535;
  color: #fff;
  font-family: Cinzel Decorative;
  padding: 15px 15px 34px 15px;
}
