.cartTotalCell {
  border-top: 2px solid #747474;
  border-bottom: 2px solid #747474;
  padding: 20px 32px;
}

.cartTotalCellTitle {
  font-weight: 700;
  line-height: 1.5;
}

.cartTotalCellTitleSub {
  background-color: rgba(0, 0, 0, 0.02);
  border-top: none;
  border-bottom: 2px solid #747474;
}

.cartTotalCellContent {
  border-top: none;
  border-bottom: 1px solid #bbb;
}
