.specialHeading {
  font-family: Cinzel Decorative;

  font-size: 64px;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
  margin-bottom: 10px;
  color: #fff;
}

.bannerBackground {
  width: 100%;
  height: 370.233px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.specialHeading::first-letter {
  color: #210535;
  padding: 0 30px;
  font-size: 1.9em;
  margin-right: -30px;
  border: 1px solid #210535;
}

.specialSubtitle {
  border-bottom: 3px dotted #210535;
  font-size: 12px;
  font-weight: 700;
  /* text-transform: capitalize; */
  letter-spacing: 4px;
  margin-top: 10px;
  display: inline-block;
  padding: 4px 0;
}

.textContainer {
  padding: 24px 0;
}

.textLanding {
  line-height: 1.82em;
  font-size: 16px;
}
